/*First page*/

.exdiv, .yearsdiv{
    width: 150px;
    margin: auto;
    margin-top: 20px;
    display: block;
}

.inputdiv1, .inputdiv2{
    display: flex;
}

.inputdiv1, .input1, .inputdiv2, .input2{
    flex: 1;
}
.inputdiv1, .check1, .inputdiv2, .check2{
    flex: 1;
}

.input1:focus{
    color: green;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #0c0707;
	position: relative;
	margin: auto;
	width: fit-content;
	height: fit-content;	
	font-weight: lighter;
}

.n10{
	color: #0A1F44;
	font-family: "Palatino Linotype";
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	
  }
  
  .n10:hover{
	background-color: #EFEFEF;
	height: 20px;

  }

/*Second page*/

/*Third page*/