/*First page*/

.exdiv, .yearsdiv{
    width: 150px;
    margin: auto;
    margin-top: 20px;
    display: block;
}

.extext, .yearstext{
    text-align: left;
    margin: auto;
}

.inputdiv1, .inputdiv2{
    display: flex;
}

.inputdiv1, .input1, .inputdiv2, .input2{
    flex: 1;
}
.inputdiv1, .check1, .inputdiv2, .check2{
    flex: 1;
}

.input1:focus{
    color: green;
}

.select1, .select2{
    width: 500px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

/*Second page*/

/*Third page*/