.App {
  text-align: center;
}

.header {
  height: 56px;
  /*width: 940px;*/
  margin-left:auto;
  margin-right:auto;
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(10,31,68,0.08), 0 8px 10px 0 rgba(10,31,68,0.1);
  margin-bottom: 40px;
}
.jobs, .aboutus, .contact {
	color: #8A94A6;
  margin-right: 20px;
}

.jobs:hover, .aboutus:hover, .contact:hover{
  color: #0A1F44;
 }

 .jobs, .aboutus, .contact {
  height: 16px;
  
  color: #8A94A6;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  float:right;
  margin-right: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
